.error {
    color: #FF6060;
    margin: 139px 0; // Appliquer la marge uniquement en haut et en bas
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        align-items: center;
        font-family: Montserrat;
        font-size: 288px;
        font-style: normal;
        font-weight: 700;
        line-height: 410.688px;
        display: flex;
        height: 263px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
    }

    p {
        font-family: Montserrat;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 142.6%;
        text-align: center;
    }

    a {
        margin: 139px auto; // Pour centrer horizontalement
        width: 284px;
        color: #FF6060;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 142.6%;
    }
}