.logement {
  height: 829px;
  display: flex;
  justify-content: center;
  overflow: auto;
  margin-bottom: 50px;

  .cartes-logement {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    gap: 50px;
    max-height: 100%;
    overflow: auto;

    h3 {
      color: white;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 142.6%;
      /* 25.668px */
      margin-top:290px;
    }
  }

  .carte {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    background-color: #FF6060;
    padding: 16px;
  }

  .cartes-logement::-webkit-scrollbar {
    display: none;
  }

  .cartes-logement {
    scrollbar-color: transparent transparent;
  }
}

