.footer {
  display: flex;
  width: 100%;
  height: 209px;
  padding: 66px 0px 29px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28.556px;
  background-color: #000;
}
.footer p {
  color: white;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

.header {
  display: flex;
  width: 100%;
  height: 68px;
  justify-content: center;
  align-items: center;
  gap: 720.678px;
  margin-bottom: 50px;
}
.header a {
  color: #FF6060;
  text-align: right;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 34.224px;
  text-decoration: none;
}
.header .nav-link {
  margin-right: 57px;
}

.layeur {
  display: flex;
  justify-content: center;
  margin-bottom: 43px;
}
.layeur img {
  border-radius: 25px;
  width: 1240px;
  height: 223px;
  -o-object-fit: cover;
     object-fit: cover;
  background: #000;
  mix-blend-mode: darken;
}

.logement {
  height: 829px;
  display: flex;
  justify-content: center;
  overflow: auto;
  margin-bottom: 50px;
}
.logement .cartes-logement {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  gap: 50px;
  max-height: 100%;
  overflow: auto;
}
.logement .cartes-logement h3 {
  color: white;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  /* 25.668px */
  margin-top: 290px;
}
.logement .carte {
  width: 340px;
  height: 340px;
  border-radius: 10px;
  background-color: #FF6060;
  padding: 16px;
}
.logement .cartes-logement::-webkit-scrollbar {
  display: none;
}
.logement .cartes-logement {
  scrollbar-color: transparent transparent;
}

.container-all-collapse {
  margin: -30px 0px 38px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.collapse-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.collapse-header {
  width: 1013px;
  height: 40px;
  border-radius: 5px;
  margin-top: 30px;
  background-color: #FF6060;
  color: white;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 34.224px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapse-header img {
  cursor: pointer;
  transition: transform 0.5s ease;
}

.rotate {
  transform: rotate(0deg);
}

.rotate-180 {
  transform: rotate(-180deg);
}

.collapse-content p {
  width: 1023px;
  height: 100%;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  line-height: 34.224px;
  color: #FF6060;
  display: flex;
}

.error {
  color: #FF6060;
  margin: 139px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.error h1 {
  align-items: center;
  font-family: Montserrat;
  font-size: 288px;
  font-style: normal;
  font-weight: 700;
  line-height: 410.688px;
  display: flex;
  height: 263px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.error p {
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  text-align: center;
}
.error a {
  margin: 139px auto;
  width: 284px;
  color: #FF6060;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}